<div class="columns is-mobile is-centered">
  <div class="column is-half is-narrow">
    <h1 class="title is-3">Editing Discussion</h1>

   <%= render 'form', discussion: @discussion %> 
  </div>
</div>