<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half is-narrow">
        <%= render 'form', discussion: @discussion %> 
      </div>
    </div>
        <%= link_to 'Back', discussions_path %>
  </div>
</section>